body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif!important;
}
.topbar {
	background-color: white;
	color: #343434;
	height: 55px;
	position: relative;
	z-index: 1;
	font-size: 13px;
	margin-top: -10px;
	padding: 7px 0 0px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	/*box-shadow: 0 1px 0px #EEE inset;*/
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  opacity: .9;
}

.container {
	position: relative;
	max-width: 980px!important;
}

.topbar .logo {
	float: left;
	width: 96px;
	background: url('http://blackhawk.polkaspots.com/global/images/polkaspots-ns.png') 0 10px no-repeat;
	text-indent: -9999cm;
	margin-top: 3px;
	height: 40px;
	background-size: 90px;
}

.topbar .nav-user {
	float: right;
	height: 63px;
	padding-top:20px;	
}

.topbar .nav li a {
	font-weight: normal;
	background-color: none;
}

.topbar .customer-logo {
	padding: 10px 0 0px 0;
	float: right;
	max-height: 75px;
}

.topbar .polkaspots-logo {
	padding: 10px 0 0px 0;
	float: left;
	width: 100px;
}

.topbar .settings {
	float: left;
	width: 24px;
	background: url('/assets/settings.png') 0 0px no-repeat;
	text-indent: -9999cm;
	margin-top: 0px;
	height: 24px;
}

body.closed-for-business {
  background-color: #c93524;
 }

.closed-for-business h1 {
  color: white;
  font-size: 42px;
  }

.closed-for-business h2, h3 {
  color: #f2bdb9;
}
.closed-for-business a {color:white}
.closed-for-business p {color:white}
.closed-for-business .location_logo {display:none}

body.magic-loader { 
  background-color: #cee7de; 
  margin-top: 140px;
}
body.magic-loader .topbar { display: none!important; }
body.magic-loader #container { display: none!important; }
body.magic-loader h1 {
  color: #5b5c5d;
  font-size: 100px;
  line-height: 30px;
}
body.magic-loader h2 {
  color: #45bcd2;
  font-size: 20px;
}

#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }


#supersized img{ width:auto; height:auto; position:relative; outline:none; border:none; }

.location-image {margin-top: 25px;}

div.break {clear:both;}

.message {color: red; line-height: 42px; font-weight: bold;}
div#errormessage {
margin-bottom: 24px;
color: red;
background-color: pink;
width: 100%;
}

ul {list-style:none;}

/*  Login  */


/* The main styling consolodated from screen */

div#footer {
padding: 60px 0 20px 0px;
width: 90%; 
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 12px;
}

/* Links */

a:link {text-decoration: none;}

/* Text */

.small {font-size: 80%;}
/** Images **/

.location_logo img{
width: 100px;
}

/* Logos */

div.polkaspots-logo-center {
text-align: center!important;
margin: 0 auto!important;
width: 100%!important;
}

/* Structure */

div#container {
margin-left: auto;
margin-right: auto;
margin-top:10px;
padding: 10px 20px 20px 20px;
background-repeat: repeat;
background-position: 0 0px;
text-align: center;
box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

div#polkaloader {margin: 0 auto; text-align: center; max-width: 500px!important; margin-top: 100px;}

.location_info {
  margin-bottom: 10px;
}

.location_info_two {
  margin: 0px 0 20px 0;
}

.location_address {
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  
  .zendesk {display: none;}
  
  body {
  padding: 00px 0 10px 0px;
  }
  

  h1.main {
	font-size: 19px;

   }
   
    h1 {
	font-size: 16px;

   }

}

@media (max-width: 979px) { /* iPhone */
  body.magic-loader h1 {
    font-size: 40px;
  }
}

