
body {
position: relative;
padding-top: 0px;
background-color: white;
text-align: center;
z-index: -1000!important;
padding: 10px 0 10px 0px;
font-size: 14px;
}

.center-me { text-align: center}

div#container {
max-width: 400px;
text-align: center;
}

div#container-c2 {display:none;}

div.container-c1 {
padding: 0px 0 0 0px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

div#header {
max-width: 300px;
margin-left: auto;
margin-right: auto;
padding: 10px 0 20px 0;
margin-bottom: 10px;
border: 0px solid red;
text-align: center;
}

div.header-c1 {
text-align: left;
padding: 0px 0 0 0px;
margin-left: -40px;
margin-right: 0px;
float: left;
width: 130px;
}

div#polkaform { text-align: left;}
div#polkaform textarea, input[type="text"], input[type="password"] { width:90%;}
div.location_address, .location_website {text-align: left;}

div.polkaspots-logo-center {
text-align: center!important;
margin: 0 auto!important;
width: 100%!important;
}

div.header-c2 {
float: right;
width: 150px;
padding: 0px 0 0 0px;
margin-left: 0px;
margin-right: -40px;
margin-bottom: 10px;
}


div#footer {
padding: 60px 0 20px 0px;
width: 60%; 
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 11px;
}

div#footer-left {
padding: 10px 0 20px 0;
float: left;
}

div#footer-right {
padding: 10px 0 20px 0;
float: right;
}

#social-nav {
    text-align: center;
    border: 0px solid red;
    margin: 0 auto;
   /* width: 185px; */
} 



#container-c2 p {margin-bottom: 20px!important;}
hr {
width: 80%;
height:0.5em;
border-left: 0px;
border-right: 0px;
border-bottom:0px solid #ddd;
border-top:0px solid #ddd;
}


