body {
position: relative;
padding-top: 0px;
background-color: white;
text-align: center;
z-index: -1000!important;
padding: 10px 0 10px 0px;
background-image: url(../images/grid-18px-masked.png);
background-repeat: repeat-x;
background-position: 0 0px;
}

div#container {
max-width: 400px;
margin: 0 auto;
margin-left: auto;
margin-right: auto;
text-align: center!important;
border: 1px solid #c5c5c5;
padding: 20px 20px 20px 20px;
background-image: url(../images/white-trans.png	);
background-repeat: repeat;
background-position: 0 0px;
text-align: center;
}

div#container-c2 {display:none;) 
div.container-c1 {

padding: 0px 0 0 0px;
margin-left: auto;
margin-right: auto;
text-align: center;
}


div#header {
max-width: 300px;
margin-left: auto;
margin-right: auto;
padding: 10px 0 20px 0;
margin-bottom: 10px;
border: 0px solid red;

text-align: center;
}

div.header-c1 {
text-align: left;
padding: 0px 0 0 0px;
margin-left: -40px;
margin-right: 0px;
float: left;
width: 130px;
}

div.polkaspots-logo-center {
text-align: center!important;
margin: 0 auto!important;
width: 100%!important;
}

div.header-c2 {
float: right;
width: 150px;
padding: 0px 0 0 0px;
margin-left: 0px;
margin-right: -40px;
margin-bottom: 10px;
}


div#footer {
padding: 60px 0 20px 0px;
width: 60%; 
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 11px;
}

div#footer a:link {
color: #000;
}

div#footer-left {
padding: 10px 0 20px 0;
float: left;
}

div#footer-right {
padding: 10px 0 20px 0;
float: right;
}

#social-nav {
    text-align: center;
    border: 0px solid red;
    margin: 0 auto;
   /* width: 185px; */
} 



/*** Text ****/

h1 {
	font-weight: 700;
	font-size: 19px;
	color: #666;
	line-height: 32px;
	
}

  h1.main {
	font-weight: 700;
	font-size: 22px;
	color: #666;
	line-height: 32px;

   }
   
h2 {
	font-weight: 500;
	font-size: 18px;
	color: #666;
	line-height: 38px;

}

h3 {
	font-weight:500;
	font-size: 16px;
	color: #666;
	line-height: 32px;
	margin-top: 0;
	
}

h4 {
	font-weight: 500;
	font-size: 14px;
	Arial, sans-serif;
	color: #666;
	line-height: 32px;
	
}

h5 {
	font-weight: 300;
	font-size: 18px;
	Arial, sans-serif;
	color: #666;
	line-height: 48px;
	margin: 20px 0px 10px 0;
}

#container-c2 a:link, a:visited {color: #9e9c9c; font-weight: bold;}

#container-c2 p {margin-bottom: 20px!important;}
hr {
width: 80%;
height:0.5em;
border-left: 0px;
border-right: 0px;
border-bottom:0px solid #ddd;
border-top:0px solid #ddd;
}

body, input, textarea {
color: #838383;
font-size: 13px;
line-height: 18px;
text-align: center;
margin-bottom: 18px;
font-weight: 300;
font-family: "museo-slab",serif;
}

input[type="text"], input[type="password"], textarea {
background: white;
border: 1px solid #CCC;
box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
width: 250px;
padding: 7px 11px;
font-size: 14px;
font-weight: 300;
line-height: 1.3;
border-radius: 3px;
-moz-border-radius: 0px;
-webkit-box-shadow: inset 0 1px 1px transparent;
-moz-box-shadow: inset 0 1px 1px transparent;
margin-bottom: 5px;
text-align: left;
}

/**** Buttons and Images ****/

.Button {
position: relative;
display: inline-block;
padding: .45em .825em .45em;
text-align: center;
line-height: 1em;
border: 1px solid transparent;
border-radius: .3em;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
-moz-transition-property: color, -moz-box-shadow, text-shadow;
-moz-transition-duration: .05s;
-moz-transition-timing-function: ease-in-out;
-webkit-transition-property: color, -webkit-box-shadow, text-shadow;
-webkit-transition-duration: .05s;
-webkit-transition-timing-function: ease-in-out;
box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35);
-moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35);
-webkit-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35);
cursor: pointer;
font-size: 16px;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-color: #BBB;
margin: 0 0 15px 0;
}

.White {
text-shadow: 0 1px rgba(255, 255, 255, 0.9);
color: #524D4D;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfaf8), to(#F0EDED), color-stop(.5,#F9F7F7),color-stop(.5,#F6F3F4));
background: -moz-linear-gradient(center top, #fdfaf8, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
background: -o-linear-gradient(top left, #fdfaf8, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfaf8), to(#F0EDED), color-stop(.5,#F9F7F7),color-stop(.5,#F6F3F4));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfaf8', endColorstr='#f0eded');

}

.Green {
color: #fff !important;
text-decoration: none;
padding: 10px 40px 10px 40px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7dd35e), to(#7ac45e), color-stop(.5,#6dbb51),color-stop(.5,#6dbb51));
background: -moz-linear-gradient(center top, #7dd35e, #7ac45e 50%, #6dbb51 50%, #6dbb51);
background: -o-linear-gradient(top left, #7ac45d, #7dd35e 50%, #F6F3F4 50%, #6dbb51);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7dd35e), to(#7ac45e), color-stop(.5,#6dbb51),color-stop(.5,#6dbb51));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dd35e', endColorstr='#7ac45e');
background-color: #64AB35;
}


/*.fancylogin {width: 100%; border: 0px solid red;}
.fancyloginbutton {text-align: center; margin-left: auto; margin-right: auto; margin-top: 7px;}*/


.Button:hover  {
box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 1px 1px rgba(25,14,14,0.5);
-moz-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 1px 1px rgba(35,24,24,0.75);
-webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 1px 1px rgba(35,24,24,0.75);
}

.Button:hover  {
-moz-transition-property: opacity;
-moz-transition-duration: 0.05s;
-moz-transition-timing-function: linear;
-webkit-transition-property: opacity;
-webkit-transition-duration: 0.05s;
-webkit-transition-timing-function: linear;
}

div#topButton {padding: 10px 0 0px 0; margin-bottom: -20px; text-align: center;}
div#topButton a:link a:visited {text-decoration: none; color: white!important;}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}




.fancylogin label { 
	width: 100%; 
	padding-top: 12px;
	border: 0px solid red;
}

.fancylogin input {
 width: 95%;
	
}

.fancylogin {width: 400px; color: black; font-weight: bold; text-align: left;}
.fancyloginbutton { padding: 5px 0 0 0px; text-align: center;}

.fancylogin label, .fancylogin input {
	float: left;
	display: inline;
}

.fancylogin p {
  clear: left;
  line-height: 20px;
}

.clickthrough { text-align: center; float: center!important; margin: 10px 0 10px 0;}

.clickthrough label, .fancylogin input {
	float: center;
	display: inline;
}
input[type="submit"], input.submit {
 font-weight: bold;
 width: auto !important;
}

@media (max-width: 480px) {
  
 body {padding-top: 10px;}
  
 
div#container {


   width: 325px;
}

div#container-c1 {
 
  text-align: center;
 }

div.zendesk {display: none;}

.fancylogin input {
width: 75%;
}
 
div#header {
width: 100%;

text-align: center;
margin: 0 auto;
}

div.header-c1 {

}

div#footer {
padding: 10px 0 20px 0px;
width: 90%; 

}

}